<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kashmirworldfoundation.WildlifeGeoSnap" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.Read_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KWF"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CameraStationMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity"
            android:exported="false" />
        <activity
            android:name=".auth.user.register.RegisterOrgAdminActivity"
            android:hasCode="true"
            android:label="@string/title_activity_register__org__admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".study.station.StationListActivity" />
        <activity android:name=".study.CreateStudyActivity" />
        <activity android:name=".maps.GoogleMapActivity" /> <!-- <activity android:name=".Expand2" /> -->
        <activity
            android:name=".study.station.StationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".maps.MapCreateList" />
        <activity
            android:name=".auth.org.RegisterOrgActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".study.CreateStationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".maps.OfflineManagerActivity" />
        <activity
            android:name=".auth.user.register.RegisterSelectCountryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".auth.user.register.RegisterSelectOrganizationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".study.station.rebait.RebaitListActivity" />
        <activity android:name=".study.station.takedown.TakedownListActivity" />
        <activity android:name=".study.wildlifesightings.WildlifeSightingExpand" />
        <activity android:name=".study.wildlifesightings.AddWildlifeSightingActivity" />
        <activity
            android:name=".auth.user.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.user.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>